<template name="landingPage">

  <div id="parallax-backstretch">
    <div class="backstretch"></div>
  </div>
  <section class="welcome-section" id="coming-soon">
    <div id="welcome" class="welcomeblock animated-middle fadeInUp">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0 col-xs-12">
         <!-- <img width="200" alt="" id="brand-logo" src="img/header-server.png"> -->
          <h2 id="text-rotation"> <span class="rotate">Get P<em>a</em>dded</span></h2>
          <div class="col-md-offset-1 col-md-10" id="text-construction">
            <div class="typist"></div>
            <span id="link-box"> <a class="subscribe-button" href="#">Learn More</a> <a class="subscribe-button" href="#"> Realtor Services</a></span> </div>
        </div>
      </div>
    </div>
  </section>
  <div class="colorfull-row">

  </div>
  <!--=======Second=======-->
  <div class="second">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="icon-box style-side-2 box"> <!-- <img src="img/icons/icon1.png" alt=""> -->
            <div class="box-content">
              <h4 class="box-title"><a href="#">Get Organized</a></h4>
              <p>Padded makes it easy to organize properties from Trulia, Zillow, and other listing websites</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="icon-box style-side-2 box"> <!-- <img src="img/icons/icon3.png" alt=""> -->
            <div class="box-content">
              <h4 class="box-title"><a href="#">Find A Realtor</a></h4>
              <p>Use our network of realtors to help you find a place to live</p>
            </div>
          </div>
        </div>  
        <div class="col-sm-6 col-md-4">
          <div class="icon-box style-side-2 box"> <!-- <img src="img/icons/icon2.png" alt=""> -->
            <div class="box-content">
              <h4 class="box-title"><a href="#">Work with your Realtor</a></h4>
              <p>Collaborate with a realtor to quickly find your next apartment or house</p>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
  <!--=======Parallax=======-->
  <div class="parallax parallax-image4" data-stellar-background-ratio="0.5">
    <div class="overlay-light"></div>
    <div class="container">
      <!-- BEGIN LIST -->
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="box">
            <h2 class="center">Lorem Ipsum Dolor Sit Amet</h2>
            <p class="center bot-40">Sacilisi lorem ipsum dolor sit amet consectetuer adipiscing elit lorem dolor. Praesentume vestibulum molestie lacus. </p>
          </div>
        </div>
        <!-- BEGIN LIST ELEMENT -->
        <div class="col-sm-6 col-md-3 center">
          <div class="cir-price-wrap box">
            <div class="cir-price-chart green">
              <div class="cir-front">
                <div class="cir-title cir-color-font">Shared Hosting</div>
                <div class="cir-price cir-color-font"><span class="currency">$</span><span class="total">9</span><span class="end">/mo.</span></div>
                <div class="cir-description">Great for small business</div>
              </div>
              <!-- end div .cir-front -->
              <div class="cir-back cir-color-bg cir-info">
                <div class="cir-title">Shared Hosting</div>
                <div class="cir-description">
                  <ul>
                    <li><i class="fa fa-check"></i>free setup</li>
                    <li><i class="fa fa-check"></i>no support</li>
                    <li><i class="fa fa-check"></i>basic options</li>
                    <li><i class="fa fa-check"></i>25 emails</li>
                  </ul>
                </div>
                <a class="cir-btn" href="#">Sign Up!</a> </div>
            </div>
          </div>
        </div>
        <!-- BEGIN LIST ELEMENT -->
        <div class="col-sm-6 col-md-3 center">
          <div class="cir-price-wrap box">
            <div class="cir-price-chart seagreen">
              <div class="cir-front">
                <div class="cir-title cir-color-font">Reseller Hosting</div>
                <div class="cir-price cir-color-font"><span class="currency">$</span><span class="total">11</span><span class="end">/mo.</span></div>
                <div class="cir-description">Great for small business</div>
              </div>
              <!-- end div .cir-front -->
              <div class="cir-back cir-color-bg cir-info">
                <div class="cir-title">Reseller Hosting</div>
                <div class="cir-description">
                  <ul>
                    <li><i class="fa fa-check"></i>free setup</li>
                    <li><i class="fa fa-check"></i>no support</li>
                    <li><i class="fa fa-check"></i>basic options</li>
                    <li><i class="fa fa-check"></i>25 emails</li>
                  </ul>
                </div>
                <a class="cir-btn" href="#">Sign Up!</a> </div>
            </div>
          </div>
        </div>
        <!-- BEGIN LIST ELEMENT -->
        <div class="col-sm-6 col-md-3 center">
          <div class="cir-price-wrap box">
            <div class="cir-price-chart turq">
              <div class="cir-front">
                <div class="cir-title cir-color-font">Cloud VPS</div>
                <div class="cir-price cir-color-font"><span class="currency">$</span><span class="total">22</span><span class="end">/mo.</span></div>
                <div class="cir-description">Great for small business</div>
              </div>
              <!-- end div .cir-front -->
              <div class="cir-back cir-color-bg cir-info">
                <div class="cir-title">Cloud VPS</div>
                <div class="cir-description">
                  <ul>
                    <li><i class="fa fa-check"></i>free setup</li>
                    <li><i class="fa fa-check"></i>no support</li>
                    <li><i class="fa fa-check"></i>basic options</li>
                    <li><i class="fa fa-check"></i>25 emails</li>
                  </ul>
                </div>
                <a class="cir-btn" href="#">Sign Up!</a> </div>
            </div>
          </div>
        </div>
        <!-- BEGIN LIST ELEMENT -->
        <div class="col-sm-6 col-md-3 center">
          <div class="cir-price-wrap box">
            <div class="cir-price-chart blue">
              <div class="cir-front">
                <div class="cir-title cir-color-font">Dedicated Server</div>
                <div class="cir-price cir-color-font"><span class="currency">$</span><span class="total">33</span><span class="end">/mo.</span></div>
                <div class="cir-description">Great for small business</div>
              </div>
              <!-- end div .cir-front -->
              <div class="cir-back cir-color-bg cir-info">
                <div class="cir-title">Dedicated Server</div>
                <div class="cir-description">
                  <ul>
                    <li><i class="fa fa-check"></i>free setup</li>
                    <li><i class="fa fa-check"></i>no support</li>
                    <li><i class="fa fa-check"></i>basic options</li>
                    <li><i class="fa fa-check"></i>25 emails</li>
                  </ul>
                </div>
                <a class="cir-btn" href="#">Sign Up!</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=======Second=======-->
  <div class="second">
    <div class="container">
      <div class="heading-box">
        <h2 class="box-title">Awesome Theme Features</h2>
        <p class="desc-lg bot-40">sapien dignissim sollicitudin</p>
      </div>
      <!-- Icons -->
      <div class="row bot-20">
        <div class="col-three lt tp">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-1.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Quality Control</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three tp">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-2.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Secure & Reliable</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three rt tp">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-3.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Super Fast</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three lt">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-4.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Control Panel</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-5.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Secure Your Website</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three rt">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-6.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Customer Support</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three lt bt">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-7.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Customer Support</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three bt">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-8.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Super Fast</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
        <div class="col-three rt bt">
          <div class="icon-box style-side-2">
            <div class="col-left "> <img src="img/icons/icon-9.png" alt=""> </div>
            <div class="o-hidden">
              <h4 class="box-title"><a href="#">Secure & Reliable</a></h4>
              <p>Lorem ipsum dolor sit amet, consec adipiscing elit hendrerit vehicula. elit hendrerit vehicula.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=======Parallax=======-->
  <div class="parallax parallax-image1" data-stellar-background-ratio="0.5">
    <div class="parallax-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 box">
            <div class="counters-box style1">
              <div class="icon-wrap"> <img src="img/icons/ico-pic1.png" alt=""> </div>
              <dl>
                <dt class="display-counter" data-value="2540">2540</dt>
                <dd class="fontsize-lg">Websites Created</dd>
              </dl>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 box">
            <div class="counters-box style1">
              <div class="icon-wrap"> <img src="img/icons/ico-pic2.png" alt=""> </div>
              <dl>
                <dt class="display-counter" data-value="7325">7325</dt>
                <dd class="fontsize-lg">Websites Created</dd>
              </dl>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 box">
            <div class="counters-box style1">
              <div class="icon-wrap"> <img src="img/icons/ico-pic3.png" alt=""> </div>
              <dl>
                <dt class="display-counter" data-value="1924">1924</dt>
                <dd class="fontsize-lg">Global Connections</dd>
              </dl>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 box">
            <div class="counters-box style1">
              <div class="icon-wrap"> <img src="img/icons/ico-pic4.png" alt=""> </div>
              <dl>
                <dt class="display-counter" data-value="4275">4275</dt>
                <dd class="fontsize-lg">Global Connections</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=======Second=======-->
  <div class="second">
    <div class="container">
      <div class="heading-box">
        <h2 class="box-title">Web Hosting That's 200% Faster! </h2>
        <p class="desc-lg">Aliquam hendrerit insuscipit ellentesq</p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div> <img class="bot-20" src="img/700x500-img1.jpg" alt="">
            <h4 class="banner-title">Our Speed</h4>
            <div class="details">
              <p>Aliquam hendrerit augu insuscipit ellentesqu sollicitudin Phasellus sit amet trisue ligula iaculis leo at nibh suscipit ultricierdum talesuada fames ac ante.</p>
            </div>
            <a href="#" class="btn style4 btn-md">More</a> </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div> <img class="bot-20" src="img/700x500-img2.jpg" alt="">
            <h4 class="banner-title">Our Speed</h4>
            <div class="details">
              <p>Aliquam hendrerit augu insuscipit ellentesqu sollicitudin Phasellus sit amet trisue ligula iaculis leo at nibh suscipit ultricierdum talesuada fames ac ante.</p>
            </div>
            <a href="#" class="btn style4 btn-md">More</a> </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div> <img class="bot-20" src="img/700x500-img3.jpg" alt="">
            <h4 class="banner-title">Our Speed</h4>
            <div class="details">
              <p>Aliquam hendrerit augu insuscipit ellentesqu sollicitudin Phasellus sit amet trisue ligula iaculis leo at nibh suscipit ultricierdum talesuada fames ac ante.</p>
            </div>
            <a href="#" class="btn style4 btn-md">More</a> </div>
        </div>
      </div>
    </div>
  </div>

</template>