<template name="bottomNav">

	<nav class="navbar navbar-default navbar-fixed-bottom">
  		<div class="container">    
  			<div class="row">
  				<div class="col-xs-3 bottom-icon">
  					<span class="glyphicon glyphicon-home"></span>
  				</div>
  				<div class="col-xs-3 bottom-icon">
  					<span class="glyphicon glyphicon-list-alt"></span>
  				</div>
  				<div class="col-xs-3 bottom-icon">
  					<span class="glyphicon glyphicon-floppy-saved"></span>
  				</div>
  				<div class="col-xs-3 bottom-icon">
  					<span class="glyphicon glyphicon-trash"></span>
  				</div>
  			</div>
  		</div>
	</nav>

</template>