<template name="dashboard">
		
	<div class="container main-container">	

		{{> alerts}}			

		{{#if isDetail}}
			{{> detail}}
		{{else}}
			<div class="row search-row">
				<div class="col-lg-12">
					<form id="url_form">
						<div class="form-group">						
							<div class="input-group">				
								<input name="url_input" class="form-control" placeholder="Paste your listing URL in the form bellow to add it to your Padded list:">
		  						<span id="url-form-submit" class="input-group-addon enter" type="submit" name="url_submit">Submit</span>
							</div>
						</div>
					</form>
				</div>
			</div>		
			<div class="row">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-3 list-organizer-buttons">
							<div class="btn-group">
								<div class="btn-group">	  							
		  							<button type="button" class="btn group-select-button list-name-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{activeList lists}}</button> 
		  							 <ul class="dropdown-menu">  							
		  							{{#each lists}}	
		    							<li class="list-name-li"><a>{{name}}</a></li>
									{{/each}}
										<li><span id="add-new-list" class="input-group-addon enter">Add New List</span></li>
		  							</ul>
		  						</div>	  						
	  							<button type="button" class="btn group-select-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">    							
	    							<span class="glyphicon glyphicon-pencil"></span>
	    							<span class="sr-only">Toggle Dropdown</span>
	  							</button>  						
	  							 <ul class="dropdown-menu">  							
	    							<li class="list-name-edit-li">
	    								<div class="input-group">    									
	  										<input type="text" class="form-control new-list-name" placeholder="{{activeList dashboard currentList}}">
	  										<span class="input-group-addon edit-current-group">Edit</span>
										</div>									
									</li>							    						
	  							</ul>
							</div>
						</div>
						<div class="col-sm-3 list-organizer-buttons">
							<div class="btn-group">											
		  						<button type="button" class="btn btn-default list-btn {{#if listView}} active-button {{/if}} "><span class="glyphicon glyphicon-align-justify"></span></button>
		  						<button type="button" class="btn btn-default image-tile-btn {{#if imageTile}} active-button {{/if}} "><span class="glyphicon glyphicon-th"></span></button>
		  						<button type="button" class="btn btn-default detail-list-btn {{#if detailList}} active-button {{/if}} "><span class="glyphicon glyphicon-th-list"></span></button>						
		  					</div>
						</div>
						<div class="col-sm-3 list-organizer-buttons">
							<div class="btn-group">
		  						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-plus"></i> Add Roommate</button>
		  						<ul class="dropdown-menu">  							
	    							<li class="list-name-edit-li">
	    								<div class="input-group">    									
	  										<input type="text" class="form-control new-roommate" placeholder="Roommate Email">
	  										<span class="input-group-addon edit-current-group">Add</span>
										</div>									
									</li>							    						
	  							</ul>					
		  					</div>
						</div>					
					</div>				
				</div>			
			</div>		

			{{#if listView}}
				{{> listViewTemplate list=list}}			
			{{/if}}

			{{#if imageTile}}
				{{> gridView list=list}}
			{{/if}}

			{{#if detailList}}
				{{> detailListView list=list}}			
			{{/if}}

		{{/if}}
	</div>		
</template>