.detail-panel{
	max-height:295px;
	overflow: scroll;
}

body .alert{
			
	text-align:center;
	top:0px;
}

.list-btn.active-button,.image-tile-btn.active-button,.detail-list-btn.active-button{
	color:orangered !important;
}

.col-xs-2.image-col{
	margin-top:15px;	
}

.list-view-container .col-xs-5{
	max-height:146px;
	overflow:scroll;	
}

.list-view-container{
	text-align: center;	
	margin-top: 20px;
	border: thin solid #ddd;	
}
.group-select-button{
	color:white;
	background-color:orangered
}

.list-btn,.image-tile-btn,.detail-list-btn{
	color:#777;
}

.image-button{
	position: absolute;
	background-color:#ddd;
	font-size:28px;
	width:45px;
	border-radius:45px;
	visibility: hidden;
	cursor: pointer;
}

.image-button:hover{
	background-color:#bbb;
}

.search-row{
	margin-bottom:-15px;
}


.image-accept{
	right:37px;
	top:17px;
}
.image-decline{
	right:37px;
	bottom:17px;	
}

.image-button .glyphicon-ok{
	margin-left:7px;
	margin-top: 5px;
}

.image-button .glyphicon-remove{
	margin-left:8px;
	margin-top: 7px;
}

.glyphicon-ok{
	color:#F37B21;
}
.glyphicon-remove{
	color:orangered;
}

.col-md-4 .panel.panel-default .alt-panel-color,
.col-md-12 .panel.panel-default .alt-panel-color,
.col-md-4 .panel.panel-default.detail-panel .panel-heading{
	background-color:white;
	color: rgba(0, 0, 0, 0.7);
}

.mobile-thumbnail {
	max-height:200px;
	max-width:200px;	
}
li.list-group-item{
	overflow:scroll;
}

.list-name-li{
	/*border: thin solid #ddd;*/
}
.list-name-li:hover{
	color:white;
	background-color:#777;

}
.main-container{
	margin-bottom:40px;
}
.list-name-edit-li{
	width: 200px;
}

.list-organizer-buttons{
	margin-top:10px;	
}

.fa.fa-certificate{
	position: absolute;
	top:20px;
	left:20px;
	color: orangered;
	font-size: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	.image-accept{
		right:82px;
		top:20px;
	}
	.image-decline{
		right:82px;
		bottom:40px;	
	}

	.image-button .glyphicon-remove {
 	   margin-left: 12px;
    	margin-top: 2px;
	}	

	.list-view-container .col-xs-5,.list-view-container .col-xs-2{	
		margin-top:48px;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	li.list-group-item{
		max-height:52px;
		min-height:52px;
		overflow: scroll;
	}

	.panel-heading{
		overflow: scroll;
		max-height:296px;
	}

	.image-accept{
		right:82px;
		top:20px;
	}
	.image-decline{
		right:82px;
		bottom:40px;	
	}


	.list-view-container .col-xs-5,.list-view-container .col-xs-2{	
		margin-top:85px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

	.image-accept{
		right:82px;
		top:20px;
	}
	.image-decline{
		right:82px;
		bottom:40px;	
	}
}