<template name="profile">
	
	<div class="container">		
		<ol class="breadcrumb">
	  		<li><a href="/">Home</a></li>  	
	  		<li class="active">Profile</li>
		</ol>
		<div class="well">
		<div class="row">
			<div class="col-sm-12"><p>Username:<span class="pull-right">{{username}}</span></p></div>
		</div>
		<div class="row">
			<div class="col-sm-12"><p>Age:<span class="pull-right">{{profile.age}}</span></p></div>
		</div>
		<div class="row">
			<div class="col-sm-12"><p>Gender:<span class="pull-right">{{profile.gender}}</span></p></div>
		</div>		
		<div class="row">
			<div class="col-sm-12"><p>Plan:<span class="pull-right">{{profile.type}}</span></p></div>
		</div>
		<div class="row">
			<div class="col-sm-12"><p>Payment:<span class="pull-right">{{profile.version}}</span></p></div>
		</div>
	</div>
	</div>

</template>