<template name="topNav">
	<div class="col-sm-12">
	<header id="header">
    <div class="header-inner">      
          
          <h1 class="logo"> <a href="index.html">P<em>a</em>dded</a> </h1>          
          <nav>
            <div class="nav-sticky">
              <div class="owl-contener clearfix">                
                
                  {{#unless canShow}}
                      <a class="log-in pull-right" href="/signin">Sign in</a>
                  {{else}}
                    <a class="log-out pull-right">Sign out</a>
                  {{/unless}}
                
              </div>
            </div>
          </nav>
        </div>
  </header>
</div>
</template>