<template name="topNav">
	<div class="col-sm-12">
	<header id="header">
    <div class="header-inner">      
          <!-- Logo -->
          <h1 class="logo"> <a href="index.html">P<em>a</em>dded</a> </h1>
          <!-- Main Navigation, Search and Side Navigation Button -->
          <nav>
            <div class="nav-sticky">
              <!-- Side Navigation Button -->
              <!-- <a id="owl-menu-trigger" href="#0"><span class="owl-menu-icon"></span></a> -->
              
              <!-- Main Navigation -->
              <div class="owl-contener clearfix">                
                


                  <!--=========== Single Menu ===============-->
<!--                   <li class="single-dropdown"> <a href="#">Hosting</a>
                    <ul class="owl-nav-list-single">
                      <li class="single-dropdown"><a href="shared.html">Shared Hosting</a> </li>
                      <li class="single-dropdown"><a href="vps.html">Cloud VPS</a> </li>
                      <li class="single-dropdown"><a href="servers.html">Dedicated servers</a> </li>
                      <li class="single-dropdown"><a href="domains.html">Domains</a> </li>
                      <li class="single-dropdown"><a href="deals.html">Deals</a> </li>
                      <li class="single-dropdown"><a href="support.html">Support</a> </li>
                      <li class="single-dropdown"><a href="register.html">Register</a> </li>
                      <li class="single-dropdown"><a href="faq.html">F.A.Q's</a> </li>
                      <li class="single-dropdown"><a href="#">Sub Menu</a>
                        <ul class="owl-nav-list-single">
                          <li><a href="#">Vestibulum iaculis</a></li>
                          <li><a href="#">Lacinia est</a></li>
                          <li class="single-dropdown level-3rd"><a href="#">Sub Menu 2</a>
                            <ul class="owl-nav-list-single">
                              <li><a href="#">Vestibulum iaculis</a></li>
                              <li><a href="#">Lacinia est</a></li>
                              <li><a href="#">Proin dictum</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li> -->

                  <!--=========== Contact Menu ===============-->
                  <a class="login-buttons-menu">{{> loginButtons}}</a>
                
              </div>
            </div>
          </nav>
        </div>
  </header>
</div>
</template>