

@media (max-width: 767px) { 

	.btn.btn-default.comment-submit-btn{
		width:100%;
	}

}


@media (min-width: 768px) { 

	.btn.btn-default.comment-submit-btn{
		margin-top:6px;
		width:120px;
		float:right;
	}

}

.comment-form .comment-text-area{
	height: 120px;
}

.btn.btn-default.comment-submit-btn{
	color:white;
	background-color:#337ab7;
	border-top:0;	
}

.panel.panel-default .panel-body{
	padding-bottom:5px;
}