<template name="actionBar">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    {{#if isPro}}
                    <li class="{{#unless isRealtor}}active{{/unless}}"><a href="/">Personal</a></li>
                    <li class="{{#if isRealtor}}active{{/if}}"><a href="/realtor">Client Management</a></li>
                    {{/if}}
                    <li class="{{#if isProfile}}active{{/if}} pull-right"><a class="gear-icon" href="/profile"><span class="glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

</template>