<template name="realtorDash">
	<div class="container main-container">
		{{#if isDetail}}	
			{{> realtorDetail}}
		{{else}}
			<ol class="breadcrumb">
					<li><a href="/realtor">Client Management</a></li>
					<li class="active">{{currentPerson}}</li>  				
			</ol>					
			<div class="row search-row">
				<div class="col-lg-12">
					<form id="url_form">
						<div class="form-group">						
							<div class="input-group">				
								<input name="url_input" class="form-control" placeholder="Paste your listing URL in the form bellow to add it to your Padded list:">
								<span id="realtor-add-property-input" class="input-group-addon enter" type="submit" name="url_submit">Submit</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			 
			<div class="row">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 list-organizer-buttons">
							<div class="btn-group">
	  							<button type="button" class="btn group-select-button list-name-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{activeList lists}}</button> 
	  							 <ul class="dropdown-menu">  							
	  							{{#each lists}}	
	    							<li class="list-name-li"><a>{{name}}</a></li>
								{{/each}}									
	  							</ul>
							</div>
							<div class="btn-group">											
								<button type="button" class="btn btn-default list-btn {{#if listView}} active-button {{/if}} "><span class="glyphicon glyphicon-align-justify"></span></button>
								<button type="button" class="btn btn-default image-tile-btn {{#if imageTile}} active-button {{/if}} "><span class="glyphicon glyphicon-th"></span></button>
								<button type="button" class="btn btn-default detail-list-btn {{#if detailList}} active-button {{/if}} "><span class="glyphicon glyphicon-th-list"></span></button>						
							</div>
						</div>					
					</div>	
				</div>			
			</div>
			{{#if listView}}
				{{> listViewTemplate list=list}}
			{{/if}}

			{{#if imageTile}}
				{{> gridView list=list}}
			{{/if}}

			{{#if detailList}}
				{{> detailListView list=list}}	
			{{/if}}

		{{/if}}
	</div>
</template>