<template name="resetPassword">

	<div class="col-md-12">

			<h2>Reset your password</h2>			
			<div id="confirm">
				<form id="new-user-form" class="row form1">
					<div class="success" style="display: none;">
						<div class="success_txt">Contact form submitted!<br>
							<strong> We will be in touch soon.</strong>
						</div>
					</div>
					<fieldset>

						<div class="row">
							<label class="col-md-12">

								<div class="center">
                					<h4 class="box-title"><a href="#">Enter your email address registered with Padded</a></h4>
                					<p>We will send you a password reset email</p>
              					</div>						
							</label>
						</div>

						<div class="row">
						<label class="col-md-12">
							<label>Email</label>
							<input id="new-user-email" type="text">
							<span class="error" style="display: none;">*This is not a valid email address.</span>
							<span class="empty" style="display: none;">*This field is required.
							</span>
						</label>
						</div>

						<div class="row">
															
						<div class="clear"></div>
						<div class="link-form col-md-12">
							<a class="btn style4" href="/signin" data-type="reset">Back</a>
							<a id="send-reset-email" class="btn style1 pull-right" href="#" data-type="submit">Send Email</a>
						</div>
						</div>
					</fieldset>
				</form>
			</div>
	</div>
</template>