<template name="realtorDetail">
	
		<ol class="breadcrumb">
			<li><a href="/realtor">Home</a></li>
			<li><a href="/realtor/dashboard/{{currentPerson}}">{{currentPerson}}</a></li>
			<li class="active">Property Details</li>
		</ol>
	
				
			<div class="row">
				<div class="col-md-4 image-container">
					<div class="image-button image-accept">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
					<div class="image-button image-decline">
						<span class="glyphicon glyphicon-remove"></span>
					</div>
					<a href="#" class="thumbnail">
						<img class="img-thumbnail list-image" src="{{item.img}}">	
					</a>
				</div>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading alt-panel-color">
							<h3 class="panel-title">Listing</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item"><p class="text-left">URL: <span class="pull-right"><a class="link-back-detail" href="{{item.urlLink}}">{{item.urlName}}</a></span></p></li>
						  	<li class="list-group-item">							  		
						  		<p>Area:<span class="pull-right">{{item.city}}, {{item.state}}, {{item.zip}}</span></p>
						  	</li>
						    <li class="list-group-item">
						    	<p>Address:<span class="pull-right">{{item.street}} <span class="text-muted">{{item.neighborhood}}</span></span></p>
						    </li>
						    <li class="list-group-item">
						    	<p class="text-left">Price:<span class="pull-right">{{item.price}}</span></p>
						    </li>
						    <li class="list-group-item">
						    	<p class="text-left">Status:<span class="pull-right">{{item.status}}</span></p>
						    </li>							    
						</ul>
					</div>	
				</div>
				<div class="col-md-4">
					<div class="panel panel-default detail-panel">
						<div class="panel-heading">
							<h3 class="panel-title">Details</h3>
						</div>						 
						 	<ul class="list-group">
    							{{#each item.details}}
    								<li class="list-group-item">
							    		<p class="text-left">{{this}}</p>
							    	</li>    								
    							{{/each}}
							</ul>  						
					</div>	

				</div>
			</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading alt-panel-color">Comments</div>					
					<div class="panel-body">					    
						
						{{#each comments}}
							<label>{{ownerName}} @ {{time timestamp}}</label>
							<div class="well">{{commentText}}</div>
						{{/each}}
						
						<form>
							<div class="form-group comment-form">									
								<textarea type="email" class="form-control comment-text-area" id="exampleInputEmail1" placeholder="Type..." name="comment"></textarea>
								<button type="submit" class="btn btn-default comment-submit-btn">Submit</button>
							</div>							
						</form>												    
					</div>
				</div>
			</div>
		</div>	
</template>