
body{
	min-height:95vh;
}
div,img,textarea,span,input,li{
	border-radius: 0px !important;
}

em{
	color:orangered;
	font-style: normal;
}
p{
	margin:0 0 0px !important;	
}

textarea {
    resize: none;
}
.row.head-row{
	position: relative;
}

.nav-tabs{
	margin-top:5px;
}

.thumbnail{	
	border:0 !important;
	margin-bottom:0 !important;
}

.list-view-p{
	text-align:center;
}
.list-view-p span{
	margin-right:5px;
	margin-left:5px;
}

.nav-tabs{
	border-style:none !important;
}

.navbar.navbar-default.navbar-static-top,.navbar-fixed-bottom.padded-nav{
	background-color:white;
}

.login-link-and-dropdown-list.login-form-sign-in{
	width: 375px;
	float: right;
}

.accounts-dialog{
	position: absolute;
	background-color:white;
	border-style: solid;
	border-width: thin;
	border-color:rgba(40, 47, 57, 0.8);
	right:0px;
	z-index: 1000;
}

.login-link-and-dropdown-list{
	color:#777;
	position: relative;
	padding: 5px;	
	text-align: right;
}
.login-link-and-dropdown-list a{
	color:#777;
}


.login-buttons-dropdown-align-{
	background-color: white;
	border-color: #e7e7e7;
}


.login-button-form-submit{
	margin:5px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	color:orangered;
	cursor: pointer;
}

.login-button-form-submit:hover{
	color:#D69C32;
}

.login-close-text{
}

#login-username-label-and-input{
	margin:10px;
}

#login-password-label-and-input{
	margin:10px;
}

.additional-link-container{
	text-align: right;
	margin:5px;
	cursor: pointer;
}

.nav-container{
	position: relative;
}

.login-cta{
	position:absolute;
	right: 15px;
	top: 8px; 
}

.try-pro-cta{
    position: absolute;
    top: 30px;
    left: 170px;
    color: orangered;
    cursor: pointer;
    z-index:1000;
}

.try-pro-cta:hover{
	color:#D69C32;
}

.try-pro-window{	
	position: absolute;
	top: 60px;
	left:10px;
	background-color:white;	
	color:#777;	
	border-style:solid;
	border-width: 1px;
	border-color:#ddd;
	padding: 5px;	
	z-index: 1000;
}

.foot{
	color:#777;
	text-align: center;	
}

ul.nav.nav-tabs li.pull-right a.gear-icon{
	padding-top: 5px;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
}


@media (max-width: 375px) { 

	.try-pro-window{
		left:0px;
	}

}
@media (min-width: 376px) { 

	.try-pro-window{
		right:0px;
	}

}