
body{
	min-height:95vh;
}
div,button,img,textarea{
	border-radius: 0px !important;
}

em{
	color:orange;
	font-style: normal;
}
p{
	margin:0 0 0px !important;	
}

textarea {
    resize: none;
}

.thumbnail{	
	border:0 !important;
	margin-bottom:0 !important;
}

.list-view-p{
	text-align:center;
}
.list-view-p span{
	margin-right:5px;
	margin-left:5px;
}


.navbar.navbar-default.navbar-static-top,.navbar-fixed-bottom.padded-nav{
	background-color:white;
}
.login-link-and-dropdown-list{
	color:#777;
	position: relative;
	border-style:solid;
	border-width: 2px;
	border-color:#ddd;
	padding: 5px;	
}
.login-link-and-dropdown-list a{
	color:#777;
}


.login-buttons-dropdown-align-{
	background-color: white;
	border-color: #e7e7e7;
}


.login-button-form-submit{
	margin:5px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	color:orange;
	cursor: pointer;
}

.login-button-form-submit:hover{
	color:#D69C32;
}

.login-close-text{
	position: absolute;
	top:2px;
	right:2px;
}

#login-username-label-and-input{
	margin:10px;
}

#login-password-label-and-input{
	margin:10px;
}

.additional-link-container{
	text-align: center;
	margin:5px;
	cursor: pointer;
}

.nav-container{
	position: relative;
}

.login-cta{
	position:absolute;
	right: 15px;
	top: 8px; 
}

.foot{
	color:#777;
	text-align: center;	
}